.invalid {
  border: 1px solid #DF3F70 !important;
}

.outline:not(.invalid) {
  border: 1px solid rgba(46, 80, 192, 0.80);

  &:disabled {
    color: #ffffff;

    &::placeholder {
      color: #ffffff;
    }
  }
}

.primary:not(.invalid) {
  border: 1px solid rgba(148, 148, 148, 0.30);

  &:hover {
    border: 1px solid #949494;
  }

  &:active, &:focus {
    border: 1px solid #949494;
  }

  &:disabled {
    color: #949494;

    &::placeholder {
      color: #949494;
    }
  }
}

.input {
  box-sizing: border-box;
  border-radius: 15px;
  font-weight: 400;
  min-width: 200px;
  color: #333;

  &:focus {
    outline: none;
  }

  &:disabled {
    background: #DCDCDC;
    border: 1px solid #DCDCDC !important;
  }
}

.small {
  padding: 10px;
  font-size: 14px;

  ~.icon > div {
    width: 15px !important;
    height: 15px !important;
  }
}

.medium {
  padding: 14px 15px;
  font-size: 15px;


  ~.icon > div {
    width: 24px !important;
    height: 24px !important;
  }
}

.large {
  padding: 20px;
  font-size: 18px;

  ~.icon > div {
    width: 30px !important;
    height: 30px !important;
  }
}

.icon {
  position: absolute;
  padding: 0 10px;
  height: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.inputWrapper {
  display: inline-flex;
  position: relative;

  .input:has(~.left) {
    &.large {
      padding-left: 40px;
    }
    &.medium {
      padding-left: 30px;
    }
    &.small {
      padding-left: 25px;
    }
  }

  .input:has(~.right) {
    &.large {
      padding-right: 40px;
    }
    &.medium {
      padding-right: 30px;
    }
    &.small {
      padding-right: 25px;
    }
  }
}
