.wrapper {
  border-bottom: 1px solid #D9D9D9;
  padding: 10px;
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  .icon {
    position: absolute;
    right: 20px;
  }

  .icon svg {
    fill-opacity: 0.5;
  }

  &:hover {
    border-bottom: 1px solid rgba(46, 80, 192, 0.60);

    .icon svg {
      fill-opacity: 0.8;
    }
  }

  input {
    position: relative;
    outline: none;
    border: none;
    width: 200px;
    font-size: 16px;
    font-family: Lato !important;

    &::placeholder {
      color: rgba(38, 44, 60, 0.50);
    }
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }

  input[type="time"]:before {
    content: 'Time:';
    margin-right: .6em;
    color: #9d9d9d;
  }

  input[type="time"]::-webkit-calendar-picker-indicator {
    display: block;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: transparent;
  }
}

.customDateInput {
  border: none;
  outline: none;
  width: 180px;
  padding-right: 40px;
  font-family: Lato !important;
  font-size: 15px;

  &::placeholder {
    font-family: Lato;
  }
}

.invalid {
  border-bottom: 1px solid #DF3F70 !important;
}

.pickers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
