@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.link {
  color: rgba(46, 80, 192, 0.80);
  font-family: Lato;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  font-weight: 300;
  transition: 0.3s ease-in-out;

  &:hover:not(.disabled) {
    color: #2E50C0;
  }
}

.bold {
  font-weight: 400;
}

.small {
  font-size: 14px;
}

.medium {
  font-size: 16px;
}

.large {
  font-size: 20px;
}

.disabled {
  cursor: not-allowed;
  color: #666666;
}
